div {
    background-color: rgb(79, 79, 79);
    color: white;
    border-radius: 5px;
    padding: 2px;
    img {
        margin: 5px;
        max-width: 50px;
        max-height: 50px;
    }
    height: 369px;
    align-content: center;
}