.loginForm {
    background-color: rgb(79, 79, 79);
    padding: 20px;
    border-radius: 3%;
}

.errorDiv {
    min-height: 40px;
}

.upperlimit {
    height: 200px;
}

.nav-link {
    max-width: 100px;
}

.container {
    max-width: 400px;
    display: flex;
}

.navbar {
    color: white;
    background-color: rgb(79, 79, 79);
}