<nav class="navbar nvb">
  <div class="container">
    <a class="nav-link" href="#">Navbar</a>
    <a class="nav-link" href="#">Non</a>
    <a class="nav-link" href="#">Funzionante</a>
    <a class="nav-link" href="#">!</a>
  </div>
</nav>
  <div class="row upperlimit"></div>
  <div class="row align-content-center">
    <div class="col-lg"></div>
    <div class="col-lg-6 loginForm align-content-center text-center">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg"></div>
  </div>
<footer class="footer">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Features</a></li>
    <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Pricing</a></li>
    <li class="nav-item"><a class="nav-link px-2 text-body-secondary">FAQs</a></li>
    <li class="nav-item"><a class="nav-link px-2 text-body-secondary">About</a></li>
  </ul>
  <p class="text-center text-body-secondary">2024 Company</p>
</footer>