button {
    width: 30px;
    height: 30px;
    padding: 0;
}

app-person {
    display: contents;
}

h1 {
    margin-bottom: 30px;
    color: white;
}

td, th {
    color: white;
    width: 20%;
    background-color: rgb(100, 100, 100);
    border: none;
}

thead {
    margin-bottom: 20px;
}

table {
    margin-bottom: 30px;
}